@using NorthWindDeneme.Models.EntityFramework;
@model IEnumerable<NorthWindDeneme.Models.EntityFramework.Products>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


@Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
<table class="table table-bordered" id="tblProducts">
    <tr>
        <th> @Html.DisplayNameFor(model => model.Categories.CategoryName)</th>
        <th>@Html.DisplayNameFor(model => model.Suppliers.CompanyName)</th>
        <th>@Html.DisplayNameFor(model => model.ProductName)</th>
        <th>@Html.DisplayNameFor(model => model.QuantityPerUnit)</th>
        <th>@Html.DisplayNameFor(model => model.UnitPrice)</th>
        <th>@Html.DisplayNameFor(model => model.UnitsInStock)</th>
        <th>@Html.DisplayNameFor(model => model.UnitsOnOrder)</th>
        <th>@Html.DisplayNameFor(model => model.ReorderLevel)</th>
        <th>@Html.DisplayName("Edit") </th>
        <th>@Html.DisplayName("Detail") </th>
        <th>@Html.DisplayName("Delete") </th>

    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.Categories.CategoryName)</td>
            <td>@Html.DisplayFor(modelItem => item.Suppliers.CompanyName)</td>
            <td>@Html.DisplayFor(modelItem => item.ProductName)</td>
            <td>@Html.DisplayFor(modelItem => item.QuantityPerUnit) </td>
            <td>@Html.DisplayFor(modelItem => item.UnitPrice)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitsInStock)</td>
            <td>@Html.DisplayFor(modelItem => item.UnitsOnOrder)</td>
            <td>@Html.DisplayFor(modelItem => item.ReorderLevel)</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.ProductID }, new { @class = "btn btn-success" })</td>
            <td>@Html.ActionLink("Details", "Details", new { id = item.ProductID }, new { @class = "btn btn-primary" })</td>
            <td>@Html.ActionLink("Delete", "Delete", new { id = item.ProductID }, new { @class = "btn btn-danger" })</td>
        </tr>
    }

</table>
