@model NorthWindDeneme.Models.EntityFramework.Categories
@{
    ViewBag.Title = "Kayıt";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@using (Html.BeginForm("Kayıt", "Home", FormMethod.Post))
{
    <div class="form-group row">
        <div class="col-xs-6">
            @Html.LabelFor(m => m.CategoryName)
            @Html.TextBoxFor(m => m.CategoryName, new { @class = "form-control" })
        </div>
        <div class="col-xs-6">
            @Html.LabelFor(m => m.Description)
            @Html.TextBoxFor(m => m.Description, new { @class = "form-control" })
        </div>

    </div>
    @Html.HiddenFor(m => m.CategoryID)
    <button type="submit" class="btn btn-success">Kayıt</button>


}
